#account {
  width: 100vw;
  height: 100vh;
}
.account-inner {
  margin-top: 180px;
  height: 556px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 14px;
}
/* left */
.account-leftbox {
  width: 870px;
  height: 556px;
  /* background-color: #11111110; */
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 6px;
}
.account-text-lg {
  font-size: 24px;
  font-weight: 500;
}
.account-text-md {
  font-size: 16px;
  font-weight: 500;
}
.account-info {
  padding: 14px 0;
  border-top: 0.5px solid #727272;
  border-bottom: 0.5px solid #727272;
}
.account-info-detail {
  display: flex;
  gap: 18px;
  align-items: center;
  margin: 14px 0 28px 0;
}
.account-info-title {
  font-size: var(--font-size-md);
  margin-bottom: 2px;
}
.account-info-date,
.account-info-audi,
.account-info-seat {
  font-size: var(--font-size-sm);
  color: #7a7a7a;
}
.account-info-amount {
  margin-top: 2px;
  font-size: var(--font-size-md);
}
.account-posterwrap {
  width: 120px;
  height: 160px;
  border-radius: 4px;
  overflow: hidden;
}
.account-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.account-btns-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  justify-content: space-between;
}
.account-btns {
  width: 24%;
  height: 40px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 6px;
  font-size: var(--font-size-sm);
  cursor: pointer;
  transition: all 0.3s;
}
.account-btns:hover {
  background-color: #45b38042;
}

/* Right */
.account-rightbox {
  width: 310px;
  height: 556px;
  background-color: #333;
  border-radius: 6px;
  overflow: hidden;
}
.account-right-inner {
  width: 100%;
  height: 516px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.account-right-btns {
  width: 100%;
  height: 40px;
  display: flex;
}
.account-right-btns button {
  width: 50%;
  height: 40px;
  border: 0;
  color: white;
  font-size: var(--font-size-md);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
}
.account-right-btns button:nth-of-type(1):hover {
  background-color: #494c50;
}
.account-right-btns button:nth-of-type(2):hover {
  background-color: #48a379;
}
.account-btn-cancel {
  background-color: #53565b;
  border-bottom-left-radius: 6px;
}
.account-btn-pay {
  background-color: #45b37f;
  border-bottom-right-radius: 6px;
}
.account-pay-top,
.account-pay-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account-pay-top {
  background-color: #d4d4d420;
  padding: 14px;
}
.account-pay-top:first-of-type {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-top: 14px;
  color: #b8b8b8;
  font-size: var(--font-size-sm);
}
.account-pay-top:last-of-type {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: 0.5px solid #313131;
  font-size: var(--font-size-md);
}
.account-pay-bottom:first-of-type {
  font-size: var(--font-size-md);
}
.account-pay-bottom:first-of-type span {
  font-size: var(--font-size-xl);
}
.account-pay-bottom:last-of-type {
  font-size: var(--font-size-sm);
  color: #b8b8b8;
}

.bank-logo {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 2px;
  overflow: hidden;
  margin-right: 4px;
  background-image: url(../../public/img/account/kb.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.virtual-account-info {
  width: 100%;
  padding: 14px;
  border-radius: 6px;
  text-align: center;
  font-size: var(--font-size-md);
  background-color: #d4d4d420;
  color: #d6d6d6;
  transition: all 0.5s;
  transform: translateY(20px);
  opacity: 0;
}
.virtual-account-info.op {
  opacity: 1;
  transform: translateY(0);
}
