#eventnow {
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: #11111110; */
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.eventnow-card-wrap {
    width: 24%;
    height: 364px;
    border: 0.5px solid #11111110;
    border-radius: 8px;
    /* background-color: rgba(255, 182, 193, 0.1); */
    overflow: hidden;
}
.eventnow-card-top {
    width: 100%;
    height: 243px;
    background-color: #0a293b10;
    box-shadow: 0px 1px 2px #11111120;
}
.eventnow-card-bottom {
    width: 100%;
    height: 121px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* background-color: #11111110; */
}
