#eventnow {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}

.eventnow-title {
    font-size: var(--font-size-xl);
    font-weight: 400;
    padding-left: 4px;
}

#eventnow-inner {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.eventnow-card-wrap {
    width: 24%;
    height: 364px;
    border: 0.5px solid #11111120;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 20px;
}

.eventnow-card-top {
    width: 100%;
    height: 243px;
    background-color: #0a293b10;
    box-shadow: 0px 1px 1px #11111110;
    overflow: hidden;
}

.eventnow-card-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.eventnow-card-bottom {
    width: 100%;
    height: 121px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px 20px;
}

.eventnow-card-bottom p {
    text-align: center;
    font-size: var(--font-size-md);
}

/* Responsive */
/* PC: 1200px ~ */
@media (min-width: 1201px) {
}
/* Tablet: 480px ~ 1200px */
@media (min-width: 481px) and (max-width: 1200px) {
    #eventnow-inner {
        width: calc(100vw - 80px); /**/
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
        gap: 2px; /**/
        transition: all 0.3s linear; /**/
    }

    .eventnow-card-wrap {
        min-width: 33%; /* 48% */
        height: 364px;
        border: 0.5px solid #11111120;
        border-radius: 6px; /**/
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .eventnow-card-top {
        width: 100%;
        height: 243px;
        background-color: #0a293b10;
        box-shadow: 0px 1px 1px #11111110;
        overflow: hidden;
    }

    .eventnow-card-top img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .eventnow-card-bottom {
        width: 100%;
        height: 121px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px; /**/
        padding: 0px 20px;
    }

    .eventnow-card-bottom p {
        text-align: center;
        font-size: var(--font-size-xs); /**/
    }
}
/* Mobile: ~ 480px */
@media (max-width: 480px) {
    #eventnow-inner {
        width: calc(100vw - 80px); /**/
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
        gap: 2px; /**/
        transition: all 0.3s linear; /**/
    }

    .eventnow-card-wrap {
        min-width: 48%; /* */
        height: 364px;
        border: 0.5px solid #11111120;
        border-radius: 6px; /**/
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .eventnow-card-top {
        width: 100%;
        height: 243px;
        background-color: #0a293b10;
        box-shadow: 0px 1px 1px #11111110;
        overflow: hidden;
    }

    .eventnow-card-top img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .eventnow-card-bottom {
        width: 100%;
        height: 121px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px; /**/
        padding: 0px 20px;
    }

    .eventnow-card-bottom p {
        text-align: center;
        font-size: var(--font-size-xs); /**/
    }
}
eventnow-card-wrap {
  transition: all 0.3s;
}
eventnow-card-wrap:hover {
  background-color: #11111110;
}
