*{margin:0;padding:0;box-sizing:border-box;}

body {
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Header */
.header-inner {
  /* max-width: 1440px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-logo-wrap {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: var(--font-size-xl);
  letter-spacing: 0.1rem;
  font-weight: 700;
}
.header-navi-wrap {
  width: 100%;
  height: 50px;
  line-height: 50px;
}
/* 스크롤이벤트 추가예정: Fixed */
.header-navi {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  text-align: center;
}
.header-navi-main {
  font-weight: 500;
  font-size: var(--font-size-md);
}
.header-navi-depth {
  width: 100%;
  height: 40px;
  line-height: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: var(--font-size-sm);
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: #111111;
  opacity: 0;
  transition: all 0.3s linear;
}
.selected {
  opacity: 1;
}
.header-navi-sub {
  color: #ededed;
  font-size: var(--font-size-sm);
  font-weight: 500;
  text-align: center;
}
.row {
  width: 1440px;
  margin: 0 auto;
  height: 0.5px;
  background-color: #11111180;
}

/* 지유님 슬라이더 작업섹션 */
  /* .main{width:1440px;height:800px;margin:50px auto;position:relative;overflow:hidden;}
  .main-slides{display:flex;width:100%;height:100%;transition:0.5s;}
  .main-slide{min-width:100%;height:100%;background-size:cover;background-position:center;}
  .main-btn{position:absolute;top:50%;transform:translateY(-50%);background:transparent;color:#fff;border:none;font-size:2rem;padding:8px;cursor:pointer;}
  #prev{left:10px;} #next{right:10px;} */
  .main {
    width: 100%;
    height: calc(100vh - 50px);
  }
  .main-inBox {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .main-inBox-imgbox {
    width: 500%;
    height: 100%;
    display: flex;
    transition: all 0.5s ease-in-out;
  }
  .main-inBox-imgbox .main-img {
    width: calc(100% / 5);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main-inBox-imgbox .img1 { background-image: url(/public/img/main/main-img01.jpg); }
  .main-inBox-imgbox .img2 { background-image: url(/public/img/main/main-img02.jpg); }
  .main-inBox-imgbox .img3 { background-image: url(/public/img/main/main-img03.jpg); }

  button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: none;
    position: absolute;
    z-index: 100;
    cursor: pointer;
  }
  .main-leftBtn {
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
  }
  .main-rightBtn {
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
  }
/* 철원님 랭킹 작업섹션 */

/* App: #App은 공용 섹션이기에 스타일 지정 ❌❌❌ */
/* 지유님, 철원님은 #app에 height만 지우고 작업 시작 */
#app {
  height: 1000px;
}

/* Footer */
.footer-inner {
  width: 100%;
  display: flex;
}
.footer-contents-wrap {
  width: 1440px;
  height: 100px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: var(--font-size-sm);
  color: #59636e;
}
