body {
    width: 100vw;
    overflow-x: hidden;
}

.nowplaying-container {
    width: 1200px;
    margin: 0 auto;
}

.nowplaying-title {
    padding-top: 50px;
}

.nowplaying-inBox {
    width: 100%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.nowplaying-cardBox {
    height: 520px;
    border-radius: 10px;
    transition: all 0.3s linear;
}

.nowplaying-cardBox:hover {
    transform: translateY(-5px);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
}

.nowplaying-movImg {
    width: 100%;
    height: 75%;
}

.nowplaying-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.nowplaying-info {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nowplaying-movTitle {
    font-size: 20px;
    font-weight: bold;
}
