body {
    width: 100vw;
    overflow-x: hidden;
}

.top5-container {
    width: 1200px;
    margin: 0 auto;
}

.top5-title {
    padding-top: 50px;
    transition: 0.8s linear;
}

.top5-title.active {
    font-size: 30px;
}

.top5-inBox {
    width: 100%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.top5-dragBox {
    display: flex;
    overflow: hidden;
}

.top5-dragTop {
    width: 100%;
    height: 520px;
    display: flex;
    gap: 40px;
    cursor: pointer;
}

.top5-cardBox {
    height: 520px;
    border-radius: 10px;
    transition: all 0.3s linear;
}

.top5-cardBox:hover {
    transform: translateY(-5px);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
}

.top5-cardBox2 {
    width: 25%;
    height: 100%;
    flex-shrink: 0;
}

.top5-movImg {
    width: 100%;
    height: 75%;
}

.top5-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.top5-info {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.top5-movTitle {
    font-size: 20px;
    font-weight: bold;
}

@media(max-width: 480px) {
    .top5-container {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .top5-title.active {
        font-size: 25px;
    }

    .top5-cardBox {
        width: 55%;
    }
}