.upcoming-container {
    width: 1200px;
    margin: 0 auto;
}

.upcoming-title {
    padding-top: 50px;
}

.upcoming-inBox {
    width: 100%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.upcoming-cardBox {
    height: 520px;
    border-radius: 10px;
    transition: all 0.3s linear;
}

.upcoming-cardBox:hover {
    transform: translateY(-5px);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
}

.upcoming-movImg {
    width: 100%;
    height: 75%;
}

.upcoming-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.upcoming-info {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.upcoming-movTitle {
    font-size: 20px;
    font-weight: bold;
}

@media(max-width: 480px) {
    .upcoming-container {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .upcoming-inBox {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}